*{
	padding: 0px;
	margin: 0px;
}

#containerMain{

	width: 100%;
	height: auto;
	min-height: 100%;
	position: absolute;
	background-color: #F7763E;
	float: left;
	z-index: 1;
}

#header-usuario{

	width: 100%;
	height: 50px;
	overflow: hidden;
	position: relative;
	background-color: #187BC6;
	box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.21);
	float: left;
	z-index: 2;
}

#menu-usuario{

	width: 45px;
	height: 100%;
	padding: 3px;
	position: fixed;
	overflow: hidden;
	background-color: rgba(0,0,0,0.21);/*#187BC6*/
	box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.21);
	float: left;
	z-index: 3;
}

#container-view{

	width: 90%;
	min-height: 820px;
	height: auto;
	margin-left: 5%;
	margin-bottom: 10px;
	position: relative;
	float: left;
	background-color: transparent;
	z-index: 1;
}

#nombre-usuario{

	width: 50%;
	height: 30px;
	padding: 5px;
	margin-left: 25%;
	margin-top: 3px;
	text-align: center;
	font-size: 18px;
	background-color: transparent;
	position: relative;
}

#menu-usuario li{

	width: 250px;
	height: 45px;
	background-color: transparent;
	padding: 0px;
	position: relative;
	float: left;
	margin-bottom: 5px;
	overflow: hidden;
	list-style: none;
}

#menu-usuario li:hover{

	cursor: pointer;
	background-color: rgba(0,0,0,0.21);
}

.ico-opc{

	width: 35px;
	height: 35px;
	margin-left: 5px;
    margin-top: 0px;
	position: relative;
	float: left;
	background-color: transparent;
	border-bottom:  1px solid rgba(255,255,255,0.81);
}

.nombre-opc{

	width: 195px;
	height: 45px;
	margin-left: 10px;
	margin-top: 10px;
	background-color: transparent;
	color: #fff;
	position: relative;
	float: left;
}

#home-ico{

	background-image: url(../img/home.png);
	background-position: 100%;
	background-size: 100%;
	background-repeat: no-repeat;
}

#perfil-ico{

	background-image: url(../img/perfil.png);
	background-position: 100%;
	background-size: 100%;
	background-repeat: no-repeat;
}

#configuracion-ico{

	background-image: url(../img/config.png);
	background-position: 100%;
	background-size: 100%;
	background-repeat: no-repeat;
}

#upload-ico{

	background-image: url(../img/upload.png);
	background-position: 100%;
	background-size: 100%;
	background-repeat: no-repeat;
}

#grupos-ico{

	background-image: url(../img/grupos.png);
	background-position: 100%;
	background-size: 100%;
	background-repeat: no-repeat;
}

#buscar-ico{

	background-image: url(../img/buscar.png);
	background-position: 100%;
	background-size: 100%;
	background-repeat: no-repeat;
}

#logout{

	background-image: url(../img/logout.png);
	background-position: 100%;
	background-size: 100%;
	background-repeat: no-repeat;
}

#file{

	background-image: url(../img/file.png);
	background-position: cover;
	background-size: 100%;
	background-repeat: no-repeat;
}

/*secciones*/

.section-usuario{

    width: 100%;
    min-height: 620px;
    height: auto;
    position: relative;
    border: 1px solid rgba(0,0,0,0.21);
    border-radius: 3px;
    margin-top: 10px;
    overflow: hidden;
    float: left;
    z-index: 1;
    background-color: transparent;

}

.info-section{

	width: auto;
	max-width: 355px;
	min-width: 355px;
	height: auto;
	left: 20px;
	top: 10px;
	float: left;
	position: relative;
	background-color: transparent;
	z-index: 2;
}

.title-section{

	font-size: 18px;
	color: #fff;
	text-transform: uppercase;
	padding: 10px;
	float: left;
}

.content-section{

	font-size: 14px;
	color: #fff;
	padding: 10px;
	text-align: justify;
	float: left;
}

.info-perfil{

	width: auto;
	height: auto;
	padding: 5px;
	font-size: 15px;
}

#_home{

    background-color: #F7763E;
}

#_perfil{

	background-color: #F7763E;
}

#bg_home{

    background-image: url(../img/bg_home.png);
    width: 650px;
    height: 492px;
    position: relative;
    float: left;
    z-index: 1000!important;
}

#bg_perfil{

    background-image: url(../img/p.png);
    background-repeat: no-repeat;
    background-color: transparent;
    left: 150px;
    top: 50px;
    width: 410px;
    height: 400px;
    position: relative;
    float: left;
    z-index: 1000!important;
}

#bg_cursos{

    background-image: url(../img/bg_cursos.png);
    width: 570px;
    height: 492px;
    background-repeat: no-repeat;
    top: 80px;
    position: relative;
    float: left;
    z-index: 1000!important;
}

#bg_upload{

    background-image: url(../img/bg_upload.png);
    width: 570px;
    height: 492px;
    background-repeat: no-repeat;
    top: 80px;
    position: relative;
    float: left;
    z-index: 1000!important;
}

#bg_buscar{

    background-image: url(../img/bg_buscar.png);
    width: 570px;
    height: 492px;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: transparent;
    background-position: 0px -61px;
    margin-left: 200px;
    top: 0px;
    position: relative;
    float: left;
    z-index: 1000!important;
}

#bg_buscar form{

	width: 90%;
	margin-left: 5%;
	margin-top: 50px;
}

#mis_grupos{

  width: 40%;
  height: 250px;
  top: 80px;
  position: relative;
  float: left;
  background-color: transparent;

}

#mis_grupos li{

	list-style: none;
	width: 80%;
	left: 10%;
	margin: 10px;
	padding: 10px;
	text-align: center;
	position: relative;
	background-color: #fff;
	border-radius: 3px;
	box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.31);
}

#mis_grupos li:hover{

	cursor: pointer;
	background-color: #f2f2f2;
}


#mis_grupos a{
	text-decoration: none;
	color: #8f8f8f;
}
.group-section{

	width: 38%;
	height: auto;
	left: 10%;
	top: 30px;
	background-color: transparent;
	position: relative;
	padding: 20px;
	float: left;
}

.group-section legend{

	color: #fff;
}

.tbx{

	width: 100%;
	height: 25px;
	padding: 5px;
	border: 0px;
	border-bottom: 1px solid rgba(0,0,0,0.21);
	color: #8f8f8f;
	float: left;
}

.cbx{

	width: 102.3%;
	height: 35px;
	padding: 10px;
	border: 0px;
	border-bottom: 1px solid rgba(0,0,0,0.21);
	margin-bottom: 2px;
	color: #8f8f8f;
	float: left;
	position: relative;
}

.btn{

	width: 102.3%;
	height: 45px;
	padding: 5px;
	border: 0px;
	border-bottom: 1px solid rgba(0,0,0,0.21);
	color: #8f8f8f;
}

.btn:hover, .btn-file:hover{

	cursor: pointer;
}

.btn-file{

	height: 30px;
	border: none;
}

#btn-upload{

	background-color: #fff;
	border-radius: 2px;
	box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.21);
	color: #8f8f8f;
}

#btn-upload:hover{

	background-color: #f2f2f2;
}

.oculto{

	display: none;
}

.txt-buscar{

	width: 80%;
	height: 20px;
	padding: 5px;
	border: none;
	float: left;
	border-radius: 2px;
}

.btn-buscar{

	width: 18%;
	height: 30px;
	padding: 5px;
	border: none;
	color: #fff;
	background-color: rgba(0,0,0,0.65);
}

.btn-buscar:hover{
	cursor: pointer;
	background-color: rgba(0,0,0,0.35);
}

/*=========================DISEÑO RESPONSIVE ================*/

@media screen and (max-width: 1024px) {

	.section-usuario{
		width: 100%;
	}

	#bg_home, #bg_cursos, #bg_upload{
		width: 540px;
		background-size: 100%;
		background-repeat: no-repeat;
	}


}

@media screen and (max-width: 800px) {

	.section-usuario{
		width: 100%;
	}

	#bg_home, #bg_cursos, #bg_upload{
		width: 350px;
		background-size: 100%;
		background-repeat: no-repeat;
	}

	#bg_perfil{

		height: 330px;
		background-size: 100%;
		background-repeat: no-repeat;
	}

	.group-section{
		width: 85%;
		margin-top: 20px;
		left: 5%;
	}

	.cbx, .btn{
		width: 101.7%;
	}

	#bg_buscar{

		margin-left: 50px;
	}
}

@media screen and (max-width: 480px) {

	.section-usuario{
		width: 100%;
	}

	#bg_home, #bg_cursos, #bg_upload{
		width: 100%;
		height: 315px;
		background-size: 100%;
		background-repeat: no-repeat;
	}

	#mis_grupos{

		width: 100%;
	}

	#bg_upload{
		margin-bottom: 80px;
	}

	#bg_buscar{
		width: 100%;
		background-size: 100%;
		background-repeat: no-repeat;
	}

	.txt-buscar{

		width: 70%;
	}
}