*{
	margin: 0px;
}
body{

	background-color: #ffffff;
}

#title{
   
	width: 100%;
	height: 1.2em;
	text-align: center;
	background-color: #F7763E;
	color: #fff;
	font-size: 60px;
	box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.21);
	position: center;
	z-index: 1;
}
h1,#Temario{
	text-align: center;
}

ol li{
      list-style-type:upper-roman;
      margin-left: 1em;
      font-size: 1.5em;
}
ul li{
	list-style: circle;
	font-size: 1.5em;
}

#PT{
	margin-left: 0.5em;
	font-size: 1.5em;
}

#Imagen{
	
	height: 65px;  
	background: #FFF;
	border: 0.1em solid #000;
	border-radius: 0 0.5em 0 0.5em;
}

#Imagen1{
    
    margin-right: 3em;
    margin-bottom: 1.5em;
    margin-left: 1em;
	display: inline-block;
	height: 450px;  
	background: #FFF;
	border: 0.1em solid #000;
	border-radius: 0 0.5em 0 0.5em;

}

#Video1{
	border: 0.8em solid #F7763E;
	border-radius: 0 0.7em 0 0.7em;
	border-style: dashed;
}


#containerAddGrupo{

	width: 150px;
	height: auto;
	padding: 5px;
    position: relative;
    float: right;
    margin-right: 10px;
    margin-top: 10px;
    background-color: #f2f2f2;
    font-size: 16px;
    border-radius: 3px;
    color: #000;
    box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.21);
    z-index: 2;
}

#containerAddGrupo:hover{

	cursor: pointer;
	color: #8f8f8f;
}

.oculto{

	display: block;
}